@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color-scheme: dark;
  align-items: normal;
  /* align-items: flex-start; */
}


html,
body {
  @apply w-full h-full p-0 m-0 text-primary bg-secondary;
}

#__next, main {
  @apply w-full h-full;
}

@font-face {
  font-family: 'Mimoid';
  src: url('../app/Mimoid.woff') format('otf');
  font-weight: normal;
  font-style: normal;
}


@layer base {
  .btn-primary {
    @apply px-4 py-2 bg-accent text-primary border border-accent 
           hover:bg-secondary hover:text-primary transition-all duration-200 
           rounded-lg;
  }
  
  .input-primary {
    @apply px-4 py-2 bg-secondary text-primary border border-accent 
           focus:outline-none focus:ring-1 focus:ring-primary 
           rounded-lg;
  }

  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-white;
  }

  .neon-glow {
    box-shadow: 0 0 20px 5px #0ff, 0 0 40px 10px #0ff, 0 0 60px 15px #0ff, 0 0 80px 20px #0ff;
  }
  
  

}

